body {
    font-family: "Roboto",
        sans-serif;
background-color: #fff;
color: #434455;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*                HEADER                         */
.header {
border-bottom: 1px solid #e7e9fc
}

.header-container {
display: flex;
align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    font-family: "Raleway", sans-serif ;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.header-logo {
    padding:24px 0;
    margin-right: 76px;
}

.header-logo .logo-clr {
    color: #2e2f42;
}

.nav-list {
display: flex;
gap: 40px;
}

.nav-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}
.nav-link:active {
    color: #404bbf;
}
.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
display: flex;
align-items: center;
gap: 40px;

}
.address-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
/*                 HEADER                          */
/*                 Page                          */
.hero {
    background-color: #2e2f42;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 188px 0;
}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
            margin-bottom: 48px;

}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color:  #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
        min-width: 169px;
        height: 56px;
        display: block;
        margin: 0 auto;
        border: none;
}

button:hover,
button:focus {
  background-color: #404BBF;
}
.hero-btn:hover,
.hero-btn:focus {
background-color #404BBF;
}
/*                 Page                          */
/*                 FEATURES                      */
.features {
padding: 120px 0;
}

.features-list { 
    display: flex;
    align-items: center;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4); 
}

.features-subtitle {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom:  8px;
}
.features-text {;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*                 FEATURES                      */
/*                 TEAM                      */

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        display: block;
        margin-bottom: 72px;
}

.team-list { 
    display: flex;
    padding-bottom: 120px;
    gap: 24px;

}

.team-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    height: 380px;
}
.team-bottom {
    padding: 32px 0;
}
.team-img {

}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    

}

.team-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/*                 FEATURES                      */
/*                 PORTFOLIO                     */
.portfolio { padding: 120px 0;}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    
    height: 420px;
    width: calc((100% - 48px) / 3);
}
.portfolio-bottom {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-img {}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-link {}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
/*                 PORTFOLIO                     */
/*                 FOOTER                     */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-link {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: inline-block;
        padding: 15px 0;
}
.footer-link .logo-clr{
   color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
 /*                FOOTER                     */